.App {
  background-color: bisque;
  text-align: center;
  margin: 0;
  padding: 15px;
}
.categories{
  color: blueviolet;
}
.questions{
  color: brown;
}
.exam{
  border-radius: 10px;
  width: 500px;
  height: 30%;
  padding: 15px;
  color: white;
  background-color: violet;
  margin: 15px;
  text-align: left;
  margin-left: 32%;
}
.myInput{
  color: antiquewhite;
}


